@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
:root {
  --primary: #00ff11;
  --secondary: #080d19;
}

* {
  font-family: "VT323", monospace;
  padding: 0;
  margin: 0;
  color: var(--primary);
  background: var(--secondary);
  box-sizing: border-box;
  user-select: none;
}

text-element {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10vw;
  word-wrap: none;
  white-space: pre;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}
text-element::-webkit-scrollbar {
  display: none;
}

text-element::after {
  content: " ";
  height: 15%;
  margin-right: 1vw;
  translate: -3vw 0;
  animation: blink 0.5s infinite ease-in-out;
  border-right: 3px solid var(--primary);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
